Django==5.1
django-axes==6.5.1
django-bootstrap5==24.2
django-bootstrap5-dark-mode-switch==0.2.2
django-bootstrap-icons==0.9.0
django-chartjs==2.3.0
pillow==10.4.0
psycopg2-binary==2.9.9
requests==2.32.3
