.message-box {
    position: absolute;
    top: 65px;
    right: 12px;
    z-index: 9999;
    width: 30rem;
}

@media (max-width: 577px) {
    .message-box {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.alert-dismissible .btn-close {
    padding: .8rem;
}

.alert {
    color: #000000;
    background: #ffffff;
    border: 3px solid;
    padding: .5rem;
}

.alert.info {
    border-color: blue;
}

.alert.success {
    border-color: green;
}

.alert.warning {
    border-color: coral;
}

.alert.danger {
    border-color: red;
}
