{% extends "base.html" %}
{% load i18n static django_bootstrap5 bootstrap_icons %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "app/css/style.css" %}">
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{% endblock %}

{% block page_title %}{% trans 'Certificate Validation' %}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Certificate issue' %}</th>
            <th scope="col">{% trans 'Certificate expiration' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for app in application_list %}
        <tr>
            <td>{{ app }}</td>
            <td>{{ app.cert_issue }}</td>
            <td>{{ app.cert_expiration }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}