{% extends "base.html" %}
{% load i18n static django_bootstrap5 bootstrap_icons %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "app/css/style.css" %}">
{% endblock %}

{% block page_title %}{% trans "Applications" %}{% endblock %}


{% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
{% for app in application_list %}
    <div class="card-group">
        <div class="card bg-light text-center">
            <div class="card-header text-center">
                <h5 class="mb-0">
                    {{ app.name }}
                    <a href="{{ app.url }}" target="_blank" title="{% trans 'Go to' %} {{ app.name }}">
                        {% bs_icon 'box-arrow-up-right' %}
                    </a>
                </h5>
            </div>
            <div>
                {% if app.logo %}
                <img class="card-img-top" src="{{ app.logo.url }}" alt="{{ app.name }}">
                {% else %}
                <img class="card-img-top" src="{% static 'app/img/app.png' %}" alt="{{ app.name }}">
                {% endif %}
            </div>
            <div class="card-body text-center bg-white">
                <div class="status {% if app.code == 200 %}text-bg-success{% else %}text-bg-danger{% endif %}">
                    Status: {{ app.code }} {{ app.text }}
                </div>
                {% if app.use_health_check %}
                <p class="mt-2">
                {% for key, value in app.detail.items %}
                    {% if value == 'working' %}
                        <span class="badge text-bg-success">{{ key }}</span>
                    {% else %}
                        <span class="badge text-bg-danger">{{ key }}</span>
                    {% endif %}
                {% endfor %}
                </p>
                {% endif %}
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}