{% extends "base.html" %}
{% load i18n static django_bootstrap5 bootstrap_icons humanize app_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "app/css/style.css" %}">
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{% if application.use_metrics %}
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/chartjs/chart.umd.js' %}"></script>
<script type="text/javascript">
{% for value in value_names %}
    $.get('{% url "app:chart" application.id value.0 %}', function(data) {
        const {{ value.0 }}_ctx = document.getElementById('{{ value.0 }}_chart');
        new Chart({{ value.0 }}_ctx, {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                responsiv: true,
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: '{{ value.1 }}'
                        },
                    }
                }
            }
        });
    });
{% endfor %}
</script>
{% endif %}
{% endblock %}

{% block page_title %}Status {{ application.name }}{% endblock %}

{% block content %}
<h6 class="float-end">Letzte Aktualisierung: {{ application.last_update }}</h6>
<div class="row">
    <div class="col-sm-12">
        <div class="card text-center border-{% http_status_color application.http_status %}">
            <div class="card-header">
                <h5 class="mt-2">HTTP Status</h5>
            </div>
            <div class="card-body">
                <p class="mb-1">
                    {{ application.http_status }}
                    <span class="badge text-bg-{% http_status_color application.http_status %}">
                        {{ application.get_http_status_text }}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

{% if application.health_check %}
<h4 class="text-center mt-5">{% trans 'Health Check' %}</h4>
<div class="row row-cols-1 row-cols-md-2 g-3">
    {% for key, value in application.health_check.items %}
    <div class="col">
        <div class="card text-center border-{% health_check_color value %}">
            <div class="card-header">
                <h5 class="mt-2">{{ key }}</h5>
            </div>
            <div class="card-body">
                <p class="mb-1">
                    <span class="badge text-bg-{% health_check_color value %}">
                        {{ value }}
                    </span>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if application.use_metrics %}
<h4 class="text-center mt-5">{% trans 'System metrics' %}</h4>
<div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
    {% for value in value_names %}
    <div class="col">
        {% metrics_color application value.0 as color %}
        <div class="card text-center border-{{ color }}">
        <div class="card-header">
                <h5 class="mt-2">
                    {{ value.0|label }}
                    {% metrics_icon application value.0 as icon %}
                    {% if icon %}
                    <span class="text-{{ color }}">{% bs_icon icon %}</span>
                    {% endif %}
                </h5>
                <small>{% trans 'Last 24 hours' %}</small>
            </div>
            <div class="card-body">
                <canvas id="{{ value.0 }}_chart" width="600" height="200"></canvas>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}