{% extends 'django_bootstrap5/bootstrap5.html' %}
{% load django_bootstrap5 static i18n bootstrap_icons %}
{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#124E96">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{% static "app_monitor/css/style.css" %}">
<link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}" />
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{% endblock %}

{% block bootstrap5_title %}{% trans 'Django App Monitor' %}{% endblock %}

{% block bootstrap5_content %}
<nav class="navbar fixed-top navbar-expand bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'app/img/app.png' %}" alt="{% trans 'Django App Monitor' %}" height="25">
            {% trans 'Django App Monitor' %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" href="">
                        {% bs_icon 'person-fill' %}
                        {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{% url 'frontend_auth:logout' %}">
                            {% bs_icon 'lock-fill' %}
                            {% trans 'Log out' %}
                        </a>
                        <a class="dropdown-item" href="{% url 'frontend_auth:password_change' %}">
                            {% bs_icon 'key-fill' %}
                            {% trans 'Password change' %}
                        </a>
                        {% if user.is_superuser %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'admin:index' %}">
                            {% bs_icon 'person-fill-gear' %}
                            {% trans 'Admin' %}
                        </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container-fluid mt-1" id="id_content">
    <div class="row">
        <div class="col-12">
            {% bootstrap_messages %}
            <h1 class="page-title mb-3">{% block page_title %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
